.nav .logo {
  width: 135px;
  height: auto; }

.nav .navbar_nav li {
  width: 11%; }

.nav .navbar_nav li a {
  padding: 0;
  text-align: center; }

.nav .navbar_nav .no_dec {
  margin-right: 10px;
  height: 50px; }
  .nav .navbar_nav .no_dec img {
    margin-top: 10px; }

.header .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.header .navbar_nav li.dropdown .dropdown_menu {
  width: 100%;
  left: 0; }

.header .navbar_nav .no_dec:after {
  content: '';
  height: 0; }

.ad {
  margin-top: 50px; }

.nav li a {
  line-height: 50px; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #ccc; }

.nav .navbar_nav li a {
  color: #333; }

body {
  background: #fff; }

.footer .container {
  width: 1200px;
  max-width: none;
  padding: 0; }

.footer .container .inl_block {
  display: inline-block;
  vertical-align: top; }

.footer {
  padding: 1rem 0; }

.page {
  padding: 3rem 1rem 0; }

.page2 {
  padding: 1rem 0; }

.txt01 {
  text-align: left; }

.know_gu {
  position: relative; }

.know_gu:after {
  content: '';
  width: 160px;
  height: 2px;
  background-color: orange;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -80px; }

.team_p {
  margin-top: 32px; }

.contain_join {
  width: 1200px;
  height: auto;
  margin: 50px auto 0; }
  .contain_join .mar_tit {
    margin: 90px auto 150px; }
  .contain_join .bg {
    width: 1200px;
    text-align: center;
    height: auto; }
    .contain_join .bg .his_one,
    .contain_join .bg .his_two,
    .contain_join .bg .his_thr {
      position: absolute;
      bottom: 90px;
      left: 20px;
      border-left: 2px solid #ccc;
      text-align: left; }
      .contain_join .bg .his_one ul,
      .contain_join .bg .his_two ul,
      .contain_join .bg .his_thr ul {
        padding-left: 5px; }
    .contain_join .bg .his_two {
      bottom: 270px;
      left: 430px; }
      .contain_join .bg .his_two .poi_p {
        background: pink; }
    .contain_join .bg .his_thr {
      bottom: 410px;
      left: 800px; }
    .contain_join .bg .poi_p {
      position: relative;
      padding-left: 15px;
      background: orange;
      font-size: 30px; }
    .contain_join .bg .poi_p:after {
      content: '';
      position: absolute;
      left: -6px;
      bottom: 22px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #999; }
  .contain_join .classify {
    margin: 20px auto; }
  .contain_join .tab {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto 50px; }
    .contain_join .tab thead tr {
      background-color: orange; }
      .contain_join .tab thead tr td {
        padding-left: 20px;
        width: 255px; }
    .contain_join .tab tbody tr td {
      padding-left: 20px;
      width: 255px; }
    .contain_join .tab tbody tr:nth-child(even) {
      background-color: #ccc; }
  .contain_join .dis_li {
    display: inline-block; }
    .contain_join .dis_li li {
      padding: 0 45px;
      position: relative;
      display: inline-block; }
    .contain_join .dis_li li:hover {
      cursor: pointer; }
    .contain_join .dis_li .active:after {
      content: '';
      width: 30%;
      height: 2px;
      background-color: orange;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -15%; }

.bg_img_p {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: url("../img/bg_partner.jpg") no-repeat center; }

.bg_img_p_t {
  width: 100%;
  height: 162px;
  background: url("../img/bg_img_p_t.jpg") no-repeat center; }

.bg_img_c {
  margin-top: 50px;
  width: 100%;
  height: 365px;
  background: url("../img/bg_img_c.jpg") no-repeat center; }

.contain_partner {
  width: 1200px;
  height: auto;
  margin: 0 auto 0; }
  .contain_partner .mar_tit {
    margin: 20px auto 10px; }
  .contain_partner .str_coo {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center; }
    .contain_partner .str_coo .pp {
      width: 300px;
      margin: 0 5px; }
    .contain_partner .str_coo h3 {
      text-align: center; }
  .contain_partner .mar_pp {
    margin-top: 20px;
    margin-bottom: 30px; }
  .contain_partner .str_box {
    width: 200px;
    height: 350px;
    margin: 0 20px; }
    .contain_partner .str_box img {
      display: block;
      width: 100%; }
    .contain_partner .str_box .borong {
      width: 80%;
      margin: 0 auto; }
  .contain_partner .ht {
    height: 20px;
    background-color: orange; }

.contain_connect .mar_tit {
  margin-top: 30px; }
.contain_connect .str_coo {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center; }
.contain_connect .str_box {
  width: 400px;
  height: 450px;
  margin: 20px 20px 0; }
  .contain_connect .str_box img {
    display: block;
    width: 100%; }
  .contain_connect .str_box .borong {
    width: 80%;
    margin: 0 auto; }
  .contain_connect .str_box dl {
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 10px; }
    .contain_connect .str_box dl dt {
      position: relative;
      font-size: 20px;
      margin-bottom: 20px; }
    .contain_connect .str_box dl dt:after {
      content: '';
      width: 106%;
      height: 2px;
      background-color: orange;
      position: absolute;
      left: -21px;
      bottom: -10px; }
.contain_connect .str_last {
  margin-bottom: 30px; }

.bg_img_n {
  margin-top: 50px;
  width: 100%;
  height: 365px;
  background: url("../img/new_bg.jpg") no-repeat center; }

.content_news {
  width: 1200px;
  height: auto;
  margin: 50px auto 30px; }
  .content_news .page-tit {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    height: 50px; }
  .content_news .row {
    width: 1200px;
    height: auto;
    overflow: hidden; }
    .content_news .row div {
      width: 580px;
      height: 450px;
      margin: 20px 10px 0;
      float: left; }
    .content_news .row img {
      width: 100%;
      display: block; }
    .content_news .row .time,
    .content_news .row .content {
      margin: 10px 0;
      font-size: 16px;
      line-height: 32px;
      padding-right: 10px; }

.changePage {
  width: 1200px;
  margin: 0 auto; }

@media (min-width: 1500px) {
  .container {
    width: 1170px; } }
@media (min-width: 1920px) {
  .container {
    width: 1500px; } }

/*# sourceMappingURL=subPage_yu.css.map */
